.di{
   
    color:white;
    background-color: blue;
    border-radius: 20px;
    padding: 20px;
    height:450px;
    width: 300px;
}

#acc{
    text-align: center;
}
#but{
    text-align: center;
    background-color: antiquewhite;
    


}